@use 'variables' as v;
@use 'mixins';

.input{
    height: 57px;
    display: flex;
    justify-content: space-between;
    background-color: v.$Lightgrayishblue;
    &__minus{
        width: 25px;
        height: 100%;
        padding: 24px 5px;
        &:hover{
            cursor: pointer;
        }
    }
    &__number{
        width: 100%;
        border: none;
        background-color: v.$Lightgrayishblue;
        font-size: 1.2em;
        font-weight: 700;
        font-family: v.$Font;
        text-align: center;
        outline: none;
    }
    &__plus{
        width: 25px;
        height: 100%;
        padding: 19px 3px;
        &:hover{
            cursor: pointer;
        }
    }
}